@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@keyframes colorChange {
	0% { color: purple; }
	15% { color: cyan; }
	30% { color: blue; }
	45% { color: green; }
	60% { color: yellow; }
	75% { color: orange; }
	95% { color: red;}
	100% { color: purple;}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: black;
	--text-color: #727171;
}
html {
	font-size: 10px;
}
body {
	font-family: Inter, sans-serif;
	background-color: black;
	color:white;
}

/* common styles */
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: black;
}
.description {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-color);
}
.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
.item_preTitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
.item_title {
	font-size: 1.6rem;
	color: black;
	font-weight: 500;
	margin: 0.8rem 0;
}
.item_subtitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
}

/* layouts */
.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background:white;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		padding: 3rem;
		gap: 7rem;
	}
}
.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.group-1,
.group-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
.group-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}

.group-3,.group-4 > div {
	flex: 1;
}
@media only screen and (max-width: 768px) {
	.profile {
		margin-bottom: 0;
	}
	.group-3 {
		flex-direction: column;
	}
	.group-4{
		flex-direction: column;
	}
}

/* profile */
button {
	background-color: var(--primary-color);
	color: var(--text-color);
	padding: 10px ;
	border: 2px solid wheat;
	border-radius: 5px;
	font-size: 2rem;
	transition:  0.3s;

	&:hover {
		border: 2px solid gray;
		background-color: wheat;
	}
}
#show {
	margin-top: 10px;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-color);
	opacity: 0; 
	transition: opacity 0.5s ease; 
	visibility: hidden; 
}

#show.visible {
	opacity: 1; 
	visibility: visible; 
}

.profile_container {
	display: flex;
	gap: 2rem;
}
.profile_profileImg img{
	max-width: 250px;
	border-radius: 50%;
	border: 2px solid #fff;
}
#profile_name {
	color:var(--primary-color);
	font-weight: 500;
	font-size: 7rem;
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
	transition: color 0.5 ease;
}
.change{
	animation: colorChange 3s infinite ;
}

.profile_title {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
	.profile_container {
		flex-direction: column;
	}
}

/* Expertise */
.skills_list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

/* Ref  */
.ref_item {
	margin-top: 2rem;
}
.ref_name {
	font-size: 1.6rem;
	font-weight: 700;
}

/* eduction */
.edu_item {
	margin-top: 2rem;
}

/* certification */
.certification_item {
	margin-top: 2rem;
}
/* exp */
.exp_item {
	margin-top: 2rem;
}

/* awards */
.lg_item {
	margin-top: 2rem;
}
/* Interests */
.big {
	display: flex;
	gap: 2rem;
}

.interest_items {
	background-color: #333;
	display: flex;
	width: 50px;
	height: 80px;
	margin-top: 2rem;
	flex-wrap: wrap;
	transform: all 0.3s ease;
	border-radius: 10px;
	overflow: hidden;
	justify-content: center;
	font-size: 1.5rem;
	flex-direction: column;
	gap: 5px;
	color: var(--text-color);
	cursor: pointer;
	position: relative;
	text-align: center;
	display: flex;
}
.interest_items:hover{
	width: 50px;
	height: 80px;
	background-color: #ff7613;

}
.interest_items .interest_item{
	opacity: 0;
	transition: opacity 0.3s ease;
}
.interest_items:hover .interest_item{
	opacity: 1;
}



/* socials */
.social{
	.title{
		margin-left: 40px;
	}
}

.social_item {
	margin-left: 1.6rem;
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}
.social_item:hover {
	color: var(--primary-color);
}

hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid rgba(128, 128, 128, 0.229);
}
@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
}
/*exam2*/
.group-4{
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: grid;
	grid:  1fr / 1fr 1fr;
	gap: 10px;
	padding: 10px;
	
	color: var(--primary-color);
}
.sensor{
	color: var(--text-color);
	font-weight: 500;
	font-size: 1.5rem;
	border: 5px solid red;
	text-align: center;
	padding: 10px;
	box-shadow: 5px 10px #888888;
	border-radius: 10px;
	margin-right: 5rem;
}
.input{
	color: black;
	margin-top: 2rem;	
}
@media only screen and (max-width: 768px) {
	group-4 {
		margin: 0 auto;
		flex-direction: column;
	}
}

